
@media screen and (min-width: 980px) {
	body { margin: 1.3em auto; font-size: 1.3em; width: 760px; }
}
@media screen and (max-width: 980px) { body { margin: 1.3em 13%; font-size: 1.3em; } }
@media screen and (max-width: 650px) { body { margin: 1.3em 13%; font-size: 1.3em; } }
@media screen and (max-width: 480px) {
	body { margin: 0.6em 3.9%; font-size: 1.3em; }
	img { padding: 1px; margin: 0; border: 1px solid #ddd; width: 470px; height: auto; }

    #pages ul { margin: 0; padding: 0.5em 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
    #pages ul li { margin: 0; padding: 0; list-style-type: none; }
    #pages ul li:before { content: ""; }
    #pages ul li a { display: block; padding: 0.5em; border-bottom: 1px solid #ddd; }
}

/*html { -webkit-text-size-adjust: none; }*/

@font-face {
    font-family: 'anaheimregular';
    src: url('../font/anaheim-regular-webfont.eot');
    src: url('../font/anaheim-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/anaheim-regular-webfont.woff') format('woff'),
         url('../font/anaheim-regular-webfont.ttf') format('truetype'),
         url('../font/anaheim-regular-webfont.svg#anaheimregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* = = = = = = = = = = = = = */

body { font-family: 'anaheimregular'; color: #555; }

/* = = = = = = = = = = = = = */

h1 { color: #aaa; margin: 0; padding-left: 0; text-indent: 0; font-size: 1.3em; }
h1 a { color: #c00; border: none; background: none; margin-left: -0.26em; }
h1 a.t span { font-size: 0.5em; }
h2 { color: #c00; margin: 1em 0; line-height: 1.1em; font-size: 1.1em; }

/* = = = = = = = = = = = = = */

p { line-height: 1.4em; }
strong { font-weight: bolder; color: #111; }

/* = = = = = = = = = = = = = */

img { padding: 1px; margin: 0; max-width: 100%; height: auto; width: auto\9; /* ie8 */ }
p.caption { font-size: 0.65em; margin: 0 0 1em 0; }

/* = = = = = = = = = = = = = */

blockquote { background: #f5f5f5; margin: 0; padding: 0 1em; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #000; opacity: 0.52; }

/* = = = = = = = = = = = = = */

ul { margin: 1em 1em 0 1em; padding: 0; }
ul li { line-height: 1.4em; padding-bottom: 0.65em; list-style-type: none; }
ul li:before { content: "\30FB "; }

ol { margin: 1em 1em 0 1em; padding: 0; }
ol li { line-height: 1.4em; padding-bottom: 0.65em; }

/* = = = = = = = = = = = = = */

a { color: #333; text-decoration: none; border-bottom: 1px solid #aaa; background: #f5f5f5; padding: 0 0.26em; }
a:hover { text-decoration: none; background: #dcdcdc; opacity: 1; }

/* = = = = = = = = = = = = = */

.t span { visibility: hidden; position: absolute; margin: -1em -1.3em 0 0; font-size: 0.6em; line-height: 1.6em; background: #fff; padding: 0em 0.3em; border: 1px solid #ddd; opacity: 0.8; }
.hover span { visibility: visible; }

/* = = = = = = = = = = = = = */

a.local { }
a.anchor { }
a.external sup { opacity: 0.5; position: absolute; font-size: 0.7em; margin: -0.65em 0 0 -0.1em; }
a:hover.external sup { opacity: 0.9em; }

/* = = = = = = = = = = = = = */

pre { white-space: pre-wrap; }
sup { font-size: 0.5em; margin-left: 0.2em; }

hr { border: none; border-top: 1px dashed #aaa; }
hr.inter { margin: 0; padding: 0; color: #aaa; border-top: 1px dashed #ddd; text-align: center; }
xhr.inter:after { content: "∞"; display: inline-block; position: relative; top: -1.5em; font-size: 0.52em; padding: 0 0.65em; background: #fff; }
/* = = = = = = = = = = = = = */

form { width: 95%; margin: 0 auto; padding: 0; }
form input { border: 1px solid #ddd; background: transparent; padding: 0.3em 0; margin: 0; font-size: 0.76em; font-family: 'anaheimregular'; }
form input#search { width: 20%; }
form input#q { border: 1px solid #ddd; width: 76%; text-indent: 0.3em; }

/* = = = = = = = = = = = = = */

.cache { font-size: 0.6em; }
#update { color: #aaa; font-size: 0.7em; margin: 0; position: fixed; bottom: 3px; left: 3px; }
.info_link { opacity: 0.39; }
.hi { background: yellow; }