# - - - - - - - - - - - - -
Options +FollowSymLinks
RewriteEngine on

# - - - - - - - - - - - - -
# disable directory browsing
Options All -Indexes

# - - - - - - - - - - - - -
RewriteRule !\.(png|gif|js|css|woff|ttf|svg|php|lock)$ index.php

# - - - - - - - - - - - - -
